@import "tailwindcss";

/* styles/globals.css */
/* globals.css */
:root[data-theme='dark'] {
  --bg-header: #222222;
  --primary: #ffffff;
  --accent: #a6dc11;
  --background: #000000;
  --text-color: #ffffff;
}

:root[data-theme='light'] {
  --bg-header: #f9f9f9;
  --primary: #000000;
  --accent: #044e89;
  --background: #ffffff;
  --text-color: #000000;
}

/* Apply the background and text colors */
html[data-theme='dark'],
body[data-theme='dark'] {
  background-color: var(--background);
  color: var(--text-color);
}

html[data-theme='light'],
body[data-theme='light'] {
  background-color: var(--background);
  color: var(--text-color);
}
